Django==4.1.6
celery[redis]==5.2.7
psycopg2==2.9.5
git+https://github.com/ismith/slacker@master#egg=slacker
git+https://github.com/berkmancenter/django-slackchat-serializer@master#egg=django-slackchat-serializer
